body {
  background-color:black;
  color: white;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Noto Serif', serif;
}


/* ---landing page and animations----   */
nav {
  opacity: 0;
}
.subtitle {
  /*background-color: rgba(50, 50, 50, 0.5);*/
  /*padding: 0 5vw 0 50vw; */
  font-size: 20px;
  color: darkgreen;
  font-family: monospace;
  opacity: 0;
}
/*
.down-arrow {
  opacity: 0;
  position: absolute;
  padding-top: 20px;
  padding-left: 50%;
  text-align: center;
}

.down-arrow a {
  font-size: 30px;
  color: white;
  padding-top: 20px;
}*/

.navbar{
  /*min-height: 70px;*/
  /*Animation*/
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  /*background-color: black;*/
}

.navbar a {
  color: #FFFFFF;
}

nav.navbar.nav-transparent {

  min-height: 35px;
  background-color: transparent;
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
}

.navbar.in {
  background-color: black;
}

/*.container-fluid {
  position: relative;
  overflow: hidden;
  color:#ccc
}
.container-fluid:before {
  content:'  ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
}*/


#home {
  background-image: linear-gradient(to right, red, orange 50%, black 50%, black);
  /*background-size: 100% 100%;*/
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-color: #666;
  background-blend-mode: multiply;
  padding-top: 20vh;
  padding-bottom: 5vh;
  color: white;
  font-size: 14px;
  height: 100vh
}

#home.darken {
  background-color: black;
}

#face {
  /*padding: 0 20vh 0 0;*/
}

#heading1 {
  opacity: 0;
}

/*#heading2 {
  opacity: 0;
  text-indent: 10vh
}*/

.vertical-align {
  display: flex;
  align-items: center;
}

.heading-overlay {
  position: absolute;
  z-index: 15;
  background-color: #010;
  padding: 7px !important;
  margin: 0 !important;
  /*opacity: 0.9;*/
}

.heading2 {
  background-color: black;
  margin: 0;
  padding: 20px 10px 10px 10px !important;
}

.row-no-padding {
  background-image: linear-gradient(to right, #010, black 50%, black 50%, #010);
}

/*#apps {
  background-color: black;
}

#other-projects {
  background-color: #010;
}*/

.thumbnail {
  padding: 20px;
  margin: 40px;
}
/*#websites:before {
  background-image: url('https://dl.dropboxusercontent.com/u/10118584/code-bg.jpg');
}
#apps:before {
  background-image: url('https://dl.dropboxusercontent.com/u/10118584/code-bg.png');
}
#other-projects:before {
  background-image: url('https://dl.dropboxusercontent.com/u/10118584/music-bg.jpg');
}*/



/*----thumbnails----*/

.row-no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.thumbnail2 {
  position: relative;
  padding: 0;
  overflow: hidden;
  display:block;
  z-index: 1;
  width: 100%;
  /*height: 100%;*/
}

.thumbnail2 img {
    max-width:100% !important;
    clear:both;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.thumbnail2.hover img {
  -webkit-transform:translateZ(0) scale(1.20); /* Safari and Chrome */
  -moz-transform:scale(1.20); /* Firefox */
  -ms-transform:scale(1.20); /* IE 9 */
  -o-transform:translatZ(0) scale(1.20); /* Opera */
  transform: scale(1.20);
}

.caption2 {
  position: absolute;
    /*top: 0;*/
    color:#fff;
    background-color:rgba(0,0,0,0.8);
    width: 100%;
    /*height: 50%;*/
    /*line-height:100px;*/
    text-align: center;
    z-index: 10;
    opacity: 0;
    /*bottom: -50px;*/
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.thumbnail2.hover .caption2{
    opacity:1;
    bottom: 0;
}

/*fancy scroll arrows*/
.demo a {
	position: absolute;
	top: 90vh;
	left: 50%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #fff;
	font : normal 400 20px/1 'Josefin Sans', sans-serif;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;
}
.demo a:hover {
	opacity: .5;
}

#section07 a {
	padding-top: 80px;
}
#section07 a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb07 8s infinite;
	animation: sdb07 8s infinite;
	opacity: 0;
	box-sizing: border-box;
	-webkit-animation-delay: 6.5s;
	animation-delay: 6.5s;
}
/*#section07 a span:nth-of-type(1) {
	-webkit-animation-delay: 3.5s;
	animation-delay: 3.5s;
}*/
/*#section07 a span:nth-of-type(2) {
	top: 16px;
	-webkit-animation-delay: .15s;
	animation-delay: .15s;
}
#section07 a span:nth-of-type(3) {
	top: 32px;
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}*/
@-webkit-keyframes sdb07 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes sdb07 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
